@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$black: #0b0a17;
$green: #8ec138;
$light-color: #666;

// Utilities
* {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

.btn {
    border: none;

    a {
        border: 1px solid $green;
        color: $black;
        border-radius: 5px;
        padding: 10px;

        &:hover {
            background-color: $green;
            color: #fff;
        }
    }
}


// Header
.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    box-shadow: $box-shadow;

    .logo {
        a {
            cursor: pointer;

            img {
                width: 110px;
            }
        }

    }

    nav {
        ul {
            display: flex;

            li {
                a {
                    color: $black;
                    font-size: 1rem;
                    padding: 10px 15px;
                    font-weight: 500;

                    &:hover {
                        color: $green;
                    }
                }
            }


        }
    }
}

// Banner 
.banner {
    background: url("./asset/img/banner.jpg") no-repeat center center/cover;
    margin: 0;
    padding: 0;

    .banner-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        img {
            width: 25%;
        }

        h1 {
            color: $green;
            font-size: 2rem;
            letter-spacing: 3px;
        }

        p {
            margin: 3% 10%;
            text-align: center;
            color: $light-color;
        }
    }

}

// Title
.title {
    background: $green;
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    margin-bottom: 1.5rem;
    letter-spacing: 0.3rem;
}

// Container
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.half-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
        width: 50%;
    }

    .about-text {
        width: 40%;

        p {
            padding-bottom: 4%;
        }
    }

    .contact-text {
        display: flex;
        justify-content: column;
        &:hover {
            color: $green;
        }
    }
}

// Contact
.contact {
    display: flex;
    margin-bottom: 60px;

    img {
        width: 60%;
    }

    p {
        font-size: 1.2rem;
        color: $black;
    }

    a {
        color: $black;

        &:hover {
            color: $green;
        }
    }

    i {
        margin-right: 2%;
        font-size: 1.2rem;
    }

    .contact-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.2rem;
    }
}

// Footer
.footer {
    background-color: #f3f3f3;
    padding: 3rem 0rem;
    margin-top: 0;

    .boxes-footer {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 13rem;

        .box-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 150px;
            }

            p {
                font-size: 1rem;
                color: $black;
                padding: .2rem 0;
            }

            li {
                margin-bottom: .5rem;

                a {
                    font-size: 1rem;
                    color: $black;

                    &:hover {
                        color: $green;
                    }
                }


            }

            h2 {
                font-size: 1.2rem;
                margin-bottom: .8rem;
                color: $black;
            }

            .icon-information {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            a {
                font-size: 1rem;
                margin-bottom: .5rem;
                color: $black;

                &:hover {
                    color: $green;
                }
            }

            i {
                font-size: 1.3rem;
                margin-right: .5rem;
            }

            .social-icons i {
                font-size: 1.7rem;
                margin: .4rem .5rem;
            }
        }
    }
}

// LoginView
$panel-primary-color: #8ec138;
$panel-secondary-color: #0b0a17;
$panel-light-color: #f0f1f3;
$panel-box-shadow: 1rem .5rem 1rem rgba(0, 0, 0, .1);
.login {
    background-color: $panel-light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .login-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: #fff;
        border: 1px solid $panel-light-color;
        border-radius: .5rem;

        .login-title {
            display: flex;
            align-items:center;
            gap: .2rem;
            margin: .3rem 0;
            border-bottom: 1px solid $panel-primary-color;

            i {
                margin-right: 1%;
                font-size: .9rem;
                margin-left: 3%;
            }

            p {
                margin: .3rem 0;
                font-size: .8rem;
            }
        }

        .login-logo {
            display: flex;
            justify-content: center;
            img {
                width: 180px;
            }
        }

        .form-control {
            margin: .3rem 2rem;

            p {
                margin-bottom: .5rem;
            }

            input {
                width: 22rem;
                height: 2.5rem;
                border-radius: 5px;
                border: 1px solid black;
                padding-left: .5rem;

                &:focus-visible {
                    border-color: $panel-primary-color;
                    outline-offset: 1px;
                    outline: 1px;
                }
            }

            .panel-input-err {
                color: #ff0000;
                font-size: .7rem;
                height: 0;
            }
        }

        .btn-container-signin {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-signin {
                cursor: pointer;
                border: 1px solid $panel-primary-color;
                border-radius: 5px;
                padding: 10px 0;
                background-color: $panel-primary-color;
                color: #fff;
                font-size: 1.1rem;
                font-weight: bold;
                margin: 2rem;
                width: 10rem;
                height: 3rem;

                i {
                    margin-right: 4%;
                }
            }
        }

        
    }
}